body {
    background-color: rgb(200, 215, 200);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

div {
    text-align: center;
    font-size: 1.2em;
}

.quote_wrapper {
    display: flex;
    flex-direction: column;
}

#got {
    border-top: 2px solid black;
}

.quote {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote h5 {
    margin: 0px;
    padding: 0px 80px;
}

